server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://{{ hostvars[groups['mindullemonitor'][0]].ansible_host }}:3100/loki/api/v1/push

scrape_configs:
  - job_name: system
    static_configs:
    - targets:
        - localhost
      labels:
        job: varlogs
        host: {{ inventory_hostname }}
        __path__: /var/log/*log

  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s
    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'
        target_label: 'container'
      - source_labels: ['__meta_docker_container_log_stream']
        target_label: 'stream'
      - target_label: 'job'
        replacement: 'docker'
      - target_label: 'host'
        replacement: '{{ inventory_hostname }}'

  - job_name: k3s-containers
    static_configs:
    - targets:
        - localhost
      labels:
        job: kubernetes-pods
        host: {{ inventory_hostname }}
        __path__: /var/log/containers/*.log
    pipeline_stages:
      - cri: {}
