services:
  web:
    image: ghcr.io/mindulle/sonagi-draw-web:latest
    ports:
      - "8080:80"
    restart: always

  sonagi-draw-backend:
    image: ghcr.io/mindulle/sonagi-draw-sync:latest
    ports:
      - "5858:5858"
    volumes:
      - /home/ubuntu/sonagi-draw-prod/.rooms:/app/.rooms
      - /home/ubuntu/sonagi-draw-prod/.assets:/app/.assets
    restart: always
